.energy {
  width: 100%;
  min-height: 1800px;
  background: $black_color;
  margin-top: 120px;

  .energy__title {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      margin-top: 64px;
      font-size: 48px;
      font-family: $primary_font;
      color: $primary_text_color;
      font-weight: 700;
    }
  }

  .energy__content {
    display: flex;
    flex-direction: column;
    margin-top: 237px;

    &__upper {
      display: flex;
      justify-content: space-between;
      margin-left: 252px;
      margin-right: 108px;

      &__texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $primary_text_color;
        font-family: $primary_font;
        margin-right: 168px;
        min-width: 300px;
      }
      &__images {
        img {
          max-width: auto;
        }
      }
    }
    &__lower {
      display: flex;
      justify-content: space-between;
      margin-left: 108px;
      margin-right: 252px;
      &__texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $primary_text_color;
        font-family: $primary_font;
        margin-left: 168px;
        margin-top: 150px;
        min-width: 300px;
      }
      &__images {
        display: flex;
        margin-top: 173px;
        .colored--div {
          height: 100%;
          width: 32px;
          background-color: $green_color;
        }
        img {
          max-width: auto;
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 119px;
    margin-bottom: 96px;
    button {
      background-color: $green_color;
      width: 264px;
      height: 72px;
      border-radius: 12px;
      font-family: $primary_font;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
