* {
  margin: 0;
  padding: 0;
}
header {
  background: $green_color;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1950px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: 119px;

    a {
      margin-top: 40px;
      margin-bottom: 40px;
      color: $black_color;
      font-family: $primary_font;
      text-decoration: none;
    }
    button {
      width: 128px;
      height: 40px;
      align-self: center;
      font-size: 18px;
      font-family: $primary_font;
      font-weight: 700;
      border: none;
    }
  }

  img {
    padding-left: 108px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .menu__wrapper {
    display: none;
    .menu__icon {
      display: none;
    }
    .menu {
      display: none;
    }
  }
}
@media screen and (max-width: 960px) {
  nav {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 845px) {
  header {
    width: 100%;
    nav {
      display: none;
      background-color: $black_color;
      color: $primary_text_color;
    }
    .menu__wrapper {
      display: block;
      display: flex;
      justify-content: flex-end;
      max-width: 375px;
      max-height: 812px;
      width: 100%;
      height: 100%;
      .menu__icon {
        display: flex;
        display: block;
        justify-content: center;
        place-items: center;
        width: 88px;
        height: 88px;
        align-self: flex-end;
        .burger {
          z-index: 5;
          border: 0;
          padding: 0;
          background: transparent;
          cursor: pointer;
          width: 100%;
          height: 100%;
          background-image: url("../images/menu.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    img {
      padding-left: 10px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}
@media screen and (max-width: 376px) {
  header {
    width: 100%;
    .menu__wrapper {
      display: flex;
      justify-content: flex-end;
      max-width: 375px;
      max-height: 1028px;
      width: 100%;
      height: 100%;
      .menu__icon {
        display: flex;
        display: block;
        justify-content: center;
        place-items: center;
        width: 88px;
        height: 88px;
        align-self: flex-end;
        .burger {
          z-index: 5;
          border: 0;
          padding: 0;
          background: transparent;
          cursor: pointer;
          width: 100%;
          height: 100%;
          background-image: url("../images/menu.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .menu {
        width: 375px;
        height: 812px;
        padding: 0 1.5rem;
        .menu__elements {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          background-color: $primary_text_color;

          a {
            color: $black_color;
            font-size: 1.5rem;
            font-family: $primary_font;
            font-weight: 600;
            text-decoration: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  body.open {
    overflow: hidden !important;
    height: 100vh;
    position: fixed;
    header {
      img {
        display: none;
      }
    }
    .menu__wrapper {
      display: flex;
      flex-direction: column;
      background: $primary_text_color;
      position: fixed;
      top: 0;
      left: 0;
      width: 375px;
      height: 812px;
      z-index: 999;
      overflow-y: auto;
      .menu__icon {
        display: block;
        .burger {
          background-image: url("../images/close.svg");
        }
      }
      .menu {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 22rem;
        .menu__elements {
          a {
            opacity: 1;
            animation: appear 0.35s backwards;
          }
        }
        .menu__butoon__wrapper {
          display: flex;
          justify-content: flex-start;
          button {
            width: 160px;
            height: 56px;
            align-self: center;
            font-size: 18px;
            background: $green_color;
            font-family: $primary_font;
            font-weight: 700;
            border: none;
            opacity: 1;
            animation: appear 0.35s backwards;
          }
        }
      }
    }
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
