* {
  margin: 0;
  padding: 0;
}
header {
  background: $green_color;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1950px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: 119px;

    a {
      margin-top: 40px;
      margin-bottom: 40px;
      color: $black_color;
      text-decoration: none;
    }
    button {
      width: 128px;
      height: 40px;
      align-self: center;
      font-size: 18px;
      font-family: $primary_font;
      font-weight: 700;
      border: none;
    }
  }

  img {
    padding-left: 108px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .menu--icon {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  nav {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 845px) {
  header {
    width: 100%;
    nav {
      display: none;
      background-color: $black_color;
      color: $primary_text_color;
    }
    .menu--icon {
      display: block;
    }
  }
}
@media screen and (max-width: 425px) {
  header {
    img {
      padding-left: 10px;
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}
