@media screen and (max-width: 1800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1500px) {
  .energy--section__content {
    &__upper {
      display: flex;
      flex-direction: column;
    }
    &__lower {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1000px) {
  .Hero--section {
    .Hero--section__container {
      top: 15%;
      left: 5%;
      height: 160px;
    }

    .Hero--section__container__black {
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  .energy--section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    &__upper {
      display: flex;
      gap: 10px;

      &__images {
        img {
          width: 70%;
        }
      }
    }

    &__lower {
      &__images {
        margin-left: 110px;
        img {
          width: 65%;
        }
      }
    }
  }

  .input--section {
    display: flex;
    justify-content: center;
    align-items: center;

    .input--with--button {
      width: 70%;
      button {
        width: 20%;
        font-size: 14px;
      }
    }
  }

  .hyperlink--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .black--footer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 845px) {
  header {
    nav {
      display: none;
      background-color: $black_color;
      color: $primary_text_color;
    }
    .menu--icon {
      display: block;
    }
  }

  .Hero--section {
    .Hero--section__container {
      top: 12%;
      left: 0%;
      height: 160px;
    }

    .Hero--section__container__black {
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 11px;
      }
    }
  }
  .energy--section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .energy--section__content {
      margin-top: 20px;
      &__lower {
        margin-right: 100px;
        &__texts {
          display: flex;
          flex-direction: column;

          margin-top: 50px;
        }
        &__images {
          display: flex;
          align-self: center;
          margin-top: 50px;
        }
      }
    }
  }
}
