.slide__wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1950px;
  width: 100%;

  .splide {
    margin-top: 16rem;
    .splide__img {
      max-width: 34.5rem;
      width: 100%;
      max-height: 20rem;
      height: 100%;
    }
    .splide__arrow {
      background: $green_color;
      width: 6rem;
      height: 6rem;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .slide__wrapper {
    .splide {
      .splide__arrow {
        background: $green_color;
        width: 4rem;
        height: 4rem;
        opacity: 1;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .slide__wrapper {
    .splide {
      .splide__arrow {
        background: $primary_text_color;
        width: 3rem;
        height: 3rem;
        opacity: 1;
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
